In [3]:
from ko_text import *

In [4]:
data = load_data('../data/data_merged.csv')

Data Loaded

In [5]:
nlp = NLP()

# 텍스트 클렌징을 위한 정규표현식 or 구문 추가

In [7]:
regex_ls = ['여기를 누르시면 크게 보실 수 있습니다']

nlp.add_regex(regex_ls)

# 불용어(stopwords) 사전 추가

In [8]:
stopword_ls = []

nlp.add_stopwords(stopword_ls)

# Tokenizing

In [25]:
token_doc_ls = nlp.extract_morphs_for_all_document_FAST_VERSION(data['Text'].tolist(),
                                                                n_thread = 4)

data['Token'] = token_doc_ls

## Token 분포 확인

In [ ]:
counter = Counter([token for doc in token_doc_ls for token in doc])

counter.most_common()

# 중복되는 기사는 제거

In [30]:
# index 초기화
data.index = np.arange(len(data))

text_ls = []
unique_idx_ls = []

for idx, text in enumerate(data['Text']):
    if not text in text_ls:
        text_ls.append(text)
        unique_idx_ls.append(idx)

In [31]:
print(len(data), len(unique_idx_ls))

7370 7247

In [32]:
data = data.loc[unique_idx_ls]
data.index = np.arange(len(data))

# 토큰 길이 비교

In [33]:
len_ls = []

for token in data['Token']:
    len_ls.append(len(token))

data['num_token'] = len_ls

In [34]:
data.groupby('Section')['num_token'].describe()

,count,mean,std,min,25%,50%,75%,max
Section,,,,,,,,
business,843.0,161.621590,122.209004,0.0,79.00,132.0,219.50,762.0
culture & art,134.0,143.768657,128.294534,0.0,56.25,113.0,194.00,726.0
economy,403.0,198.307692,158.117658,0.0,105.00,171.0,255.50,2058.0
entertainment,994.0,97.725352,103.180383,0.0,5.00,86.0,139.00,971.0
estate,164.0,189.469512,108.964081,22.0,121.25,170.0,228.00,849.0
health,48.0,241.604167,176.790866,54.0,123.75,197.0,274.25,760.0
politics,652.0,199.694785,132.153290,0.0,104.00,166.0,268.75,884.0
society,1187.0,152.967144,105.868765,0.0,83.00,128.0,200.00,836.0
sports,468.0,159.326923,105.403609,2.0,86.75,136.0,208.00,755.0
stock,1483.0,73.679703,105.173486,0.0,7.00,16.0,97.50,1284.0
technology,41.0,190.487805,90.333582,0.0,129.00,194.0,222.00,451.0
travel,93.0,181.559140,116.363791,33.0,91.00,153.0,237.00,588.0
weather-forecast,77.0,107.220779,79.665357,22.0,63.00,87.0,129.00,545.0
world,660.0,190.092424,101.668414,3.0,120.00,171.0,234.00,724.0

In [44]:
# 토큰의 길이가 30개 이상인 표본만 추출
data = data[data['num_token'] > 30]

# 결과 저장
- ## 최초 1회만 수행한 후, 결과를 저장하여 불러와서 쓴당

### **저장 공간 절약을 위해, ['단어', '단어'] 꼴로 저장된 토큰을 '단어 단어' 꼴로 바꿔준다**

In [40]:
data['Token'] = [' '.join(doc) for doc in data['Token'].tolist()]

# 저장

In [42]:
data.to_csv('Data/meta_morphs.csv', index = False)
#test_df.to_csv('Data/test_morphs_final.csv', index = False)